/* 全局配置样式 */
* {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* h标签 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px !important;
}
